{% extends 'YourCalc/base.html' %} {% block content %} {% load static %}

{#   <div class="site-section">#}
{##}
{#            <div class="col-md-12 text-center">#}
{#              <h2 class="site-section-heading text-center font-secondary">Poniedziałek</h2>#}
{#            </div>#}
{##}
{#              <div class="owl-carousel-2 owl-carousel">#}
{#                <div class="d-block block-testimony mx-auto text-center">#}
{#                  <div class="person w-25 mx-auto mb-4">#}
{##}
{#                  </div>#}
{#                  <div>#}
{#                    <table border="3" cellpadding="10" cellspacing="0">#}
{#                        <thead>#}
{#                          <colgroup>#}
{#                            <col width="60%" />#}
{#                            <col width="20%" />#}
{#                            <col width="20%" span="1" style="background-color:#f1f1f1;" />#}
{#                          </colgroup>#}
{#                          <tr>#}
{#                            <th align="left" class="col-item-name">Posiłki</th>#}
{#                            <th align="center" class="col-quantity">Ilość</th>#}
{#                            <th align="center" class="col-kcal">Kcal</th>#}
{#                          </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                          <tr>#}
{#                            <td>Potatoes</td>#}
{#                            <td align="center">{{ingredients.quantity}}</td>#}
{#                            <td align="center">$1.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Nuts</td>#}
{#                            <td align="center">20</td>#}
{#                            <td align="center">$5</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Onions</td>#}
{#                            <td align="center">4</td>#}
{#                            <td align="center">$3.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td charoff="1">#}
{#                              Very long awkwardly named yet still delicious item here#}
{#                            </td>#}
{#                            <td align="center">4</td>#}
{#                            <td align="center">$3.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Carrots</td>#}
{#                            <td align="center">12</td>#}
{#                            <td align="center">$2.99</td>#}
{#                          </tr>#}
{#                        </tbody>#}
{#                        <tfoot>#}
{#                          <td class="kcal_txt" scope="col" colspan="3">Suma:</td>#}
{#                        </tfoot>#}
{#                      </table>                  </div>#}
{#                </div>#}
{#                <div class="d-block block-testimony mx-auto text-center">#}
{#                  <div class="person w-25 mx-auto mb-4">#}
{#                  </div>#}
{##}
{#                  <div>#}
{#                    <table border="3" cellpadding="10" cellspacing="0">#}
{#                        <thead>#}
{#                          <colgroup>#}
{#                            <col width="60%" />#}
{#                            <col width="20%" />#}
{#                            <col width="20%" span="1" style="background-color:#f1f1f1;" />#}
{#                          </colgroup>#}
{#                          <tr>#}
{#                            <th align="left" class="col-item-name">Posiłki</th>#}
{#                            <th align="center" class="col-quantity">Ilość</th>#}
{#                            <th align="center" class="col-kcal">Kcal</th>#}
{#                          </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                          <tr>#}
{#                            <td>Potatoes</td>#}
{#                            <td align="center">51</td>#}
{#                            <td align="center">$1.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Nuts</td>#}
{#                            <td align="center">20</td>#}
{#                            <td align="center">$5</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Onions</td>#}
{#                            <td align="center">4</td>#}
{#                            <td align="center">$3.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td charoff="1">#}
{#                              Very long awkwardly named yet still delicious item here#}
{#                            </td>#}
{#                            <td align="center">4</td>#}
{#                            <td align="center">$3.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Carrots</td>#}
{#                            <td align="center">12</td>#}
{#                            <td align="center">$2.99</td>#}
{#                          </tr>#}
{#                        </tbody>#}
{#                        <tfoot>#}
{#                          <td class="kcal_txt" scope="col" colspan="3">Total Kcal</td>#}
{#                        </tfoot>#}
{#                      </table>                  </div>#}
{#                </div>#}
{##}
{#                <div class="d-block block-testimony mx-auto text-center">#}
{#                  <div class="person w-25 mx-auto mb-4">#}
{##}
{#                  </div>#}
{#                  <div>#}
{##}
{#                    <table border="3" cellpadding="10" cellspacing="0">#}
{#                        <thead>#}
{#                          <colgroup>#}
{#                            <col width="60%" />#}
{#                            <col width="20%" />#}
{#                            <col width="20%" span="1" style="background-color:#f1f1f1;" />#}
{#                          </colgroup>#}
{#                          <tr>#}
{#                            <th align="left" class="col-item-name">Posiłki</th>#}
{#                            <th align="center" class="col-quantity">Ilość</th>#}
{#                            <th align="center" class="col-kcal">Kcal</th>#}
{#                          </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                          <tr>#}
{#                            <td>Potatoes</td>#}
{#                            <td align="center">51</td>#}
{#                            <td align="center">$1.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Nuts</td>#}
{#                            <td align="center">20</td>#}
{#                            <td align="center">$5</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Onions</td>#}
{#                            <td align="center">4</td>#}
{#                            <td align="center">$3.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td charoff="1">#}
{#                              Very long awkwardly named yet still delicious item here#}
{#                            </td>#}
{#                            <td align="center">4</td>#}
{#                            <td align="center">$3.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Carrots</td>#}
{#                            <td align="center">12</td>#}
{#                            <td align="center">$2.99</td>#}
{#                          </tr>#}
{#                        </tbody>#}
{#                        <tfoot>#}
{#                          <td class="kcal_txt" scope="col" colspan="3">Suma:</td>#}
{#                        </tfoot>#}
{#                      </table>                  </div>#}
{#                </div>#}
{##}
{#                <div class="d-block block-testimony mx-auto text-center">#}
{#                  <div class="person w-25 mx-auto mb-4">#}
{##}
{#                  </div>#}
{#                  <div>#}
{##}
{#                    <table border="3" cellpadding="10" cellspacing="0">#}
{#                        <thead>#}
{#                          <colgroup>#}
{#                            <col width="60%" />#}
{#                            <col width="20%" />#}
{#                            <col width="20%" span="1" style="background-color:#f1f1f1;" />#}
{#                          </colgroup>#}
{#                          <tr>#}
{#                            <th align="left" class="col-item-name">Posiłki</th>#}
{#                            <th align="center" class="col-quantity">Ilość</th>#}
{#                            <th align="center" class="col-kcal">Kcal</th>#}
{#                          </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                          <tr>#}
{#                            <td>Potatoes</td>#}
{#                            <td align="center">51</td>#}
{#                            <td align="center">$1.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Nuts</td>#}
{#                            <td align="center">20</td>#}
{#                            <td align="center">$5</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Onions</td>#}
{#                            <td align="center">4</td>#}
{#                            <td align="center">$3.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td charoff="1">#}
{#                              Very long awkwardly named yet still delicious item here#}
{#                            </td>#}
{#                            <td align="center">4</td>#}
{#                            <td align="center">$3.00</td>#}
{#                          </tr>#}
{#                          <tr>#}
{#                            <td>Carrots</td>#}
{#                            <td align="center">12</td>#}
{#                            <td align="center">$2.99</td>#}
{#                          </tr>#}
{#                        </tbody>#}
{#                        <tfoot>#}
{#                          <td class="kcal_txt" scope="col" colspan="3">Suma:</td>#}
{#                        </tfoot>#}
{#                      </table>#}
<center>

<form action="" method="post">
        Składnik: {{ ingredients_id.name }}
        Gram: {{ ingredients_id.gramme }}g
        Białko: {{ ingredients_id.protein }}g
        Węgle: {{ ingredients_id.carbohydrates }}g
        Kcal: {{ ingredients_id.kcal }}g
        Tłuszcze: {{ ingredients_id.fats }}g
    {% csrf_token %}

    <a href="{% url 'update' ingredients_id.pk %}">Edytuj</a>
</form>
    </center>

{% endblock %}